@font-face {
  font-family: "iconfont"; /* Project id 2367974 */
  src: url('iconfont.woff2?t=1620911348237') format('woff2'),
       url('iconfont.woff?t=1620911348237') format('woff'),
       url('iconfont.ttf?t=1620911348237') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-html:before {
  content: "\e632";
}

.icon-biaoqiankuozhan_chanpin-192:before {
  content: "\eb3a";
}

.icon-iconhuizong_huaban1fuben14:before {
  content: "\e60c";
}

.icon-android:before {
  content: "\e640";
}

.icon-H:before {
  content: "\e65a";
}

.icon-sousuokuang:before {
  content: "\e613";
}

.icon-anzhuo:before {
  content: "\e60b";
}

.icon-thumb-up:before {
  content: "\e8e6";
}

.icon-shoucang:before {
  content: "\e662";
}

.icon-dianzan:before {
  content: "\ede7";
}

.icon-js:before {
  content: "\f1db";
}

.icon-java:before {
  content: "\e639";
}

.icon-python:before {
  content: "\e690";
}

.icon-sheshidu01:before {
  content: "\e6ce";
}

.icon-zanting:before {
  content: "\e67d";
}

.icon-bofang:before {
  content: "\e63a";
}

